html{
  scroll-behavior: smooth;
}
body{

  margin: 0;
  padding: 0;
}
section{
  width: 50%;
  height: 70vh;
}
.gotopbtn{
  position: fixed;
  width: 30px;
  height: 20px;
  background: #27ae60;
  bottom: 20px;
  right: 25px;

  text-decoration: none;
  text-align: center;
  line-height: 10px;
  color: white;
  font-size: 10px;
}
